@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body{
  min-height: 100vh;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}