/* NAVBAR WRAPPER */
.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* MAIN CONTAINER */
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ff9800;
}

.logo-img{
  height: 1.6rem;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #444;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links li .active{
  color: #ff9800;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.nav-links li a svg{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.nav-links li a .dot{
  fill: #ff9800;
  width: 14px;
  height: 14px;
}

.nav-links li a:hover {
  color: #ff9800;
}

/* HAMBURGER ICON (MOBILE) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  border-radius: 5px;
}

/* SIGNUP BUTTON */
.signup-btn {
  padding: 8px 18px;
  border-radius: 25px;
  border: none;
  background: #ff9800;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background: #e68a00;
}


/* --------- RESPONSIVE --------- */

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transform: translateX(100%);
    transition: 0.3s ease;
  }

  /* Show Menu */
  .nav-links.open {
    transform: translateX(0%);
  }

  .hamburger {
    display: flex;
  }

  .signup-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
